<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>查询</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/order.css">
        <script language="JavaScript" src="js/order.js"></script>
    </head>
    <body>
        <div class="container">
            <form action="picture.do" method="post">
                请输入图片名称：
                <input type="hidden" name="operate" value="search02">
                <input type="text" name="name" th:value="${session.name}"/>
                <input type="submit" value="查询"/>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>主题</th>
                        <th>评论数</th>
                        <th>点赞数</th>
                        <th>浏览量</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(session.lables)}">
                    <td colspan="5">无数据</td>
                </tr>
                <tr th:unless="${#lists.isEmpty(session.lables)}" th:each="lable:${session.lables}">
                    <td><a th:text="${lable.name}" th:href="@{picture.do(src=${lable.src},operate=picture)}"></a> </td>
                    <td th:text="${lable.theme}"></td>
                    <td th:text="${lable.common}"></td>
                    <td th:text="${lable.good}"></td>
                    <td th:text="${lable.view}"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <a th:href="@{picture.do}">点此处返回主页面</a>
    </body>
</html>