<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>主页</title>
        <!-- https://fontawesome.com/v5/search?s=solid%2Cbrands -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <script language="JavaScript" src="js/index.js"></script>

    </head>
    <body>
        <div class="menu-bar">
            <h1 class="logo">数据<span>展示.</span></h1>
            <ul>
                <li><a th:href="@{picture.do(operate=search02)}">根据标题模糊查询</a></li>
                <li><a th:href="@{picture.do(operate=search01)}">根据主题查询图片</a></li>
                <li><a>排名<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a onclick="view()">按浏览量</a></li>
                            <li><a onclick="good()">按点赞量</a></li>
                            <li><a onclick="degree()">按综合热度</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="top">
            <div id="disordered-list">

                <div id="block" style="position:absolute;top:150px;width:350px;height:200px;padding-bottom: 100px;
		z-index:2;float:right;left:50px;">
                    <a th:onclick="picture([[${session.src0.name}]]);"><img class="no1" th:src="${session.src0.src}" th:title="${session.src0.name}"></a>
                    <img class="no2" th:src="${session.src1.src}">
                </div>



                <div id="block" style="position:absolute;top:150px;width:350px;height:200px;padding-bottom: 100px;
	    z-index:2;float:none;left:40%;">
                    <a th:onclick="picture([[${session.src2.name}]]);"><img class="no1" th:src="${session.src2.src}" th:title="${session.src2.name}"></a>
                    <img class="no2" th:src="${session.src3.src}">
                </div>

                <div id="block" style="position:absolute;top:150px;width:350px;height:200px;padding-bottom: 100px;
	    z-index:2;float:left;right:50px;">
                    <a th:onclick="picture([[${session.src4.name}]]);"><img class="no1" th:src="${session.src4.src}" th:title="${session.src4.name}"></a>
                    <img class="no2" th:src="${session.src5.src}">
                </div>
            </div>
        </div>
    </body>
</html>